<div class="facility-summary-container">
    @if (!isEditMode) {
        <h3 class="facility-summary-container-title">
            {{ facility.name }}
        </h3>
    }

    @for (field of fields; track field.key) {
        @if (facility[field.key]) {
            @if (isEditMode) {
                <mat-form-field appearance="outline" class="facility-summary-form-row w-full">
                    <mat-label>{{ field.label }}</mat-label>
                    <input matInput [(ngModel)]="editedFacility[field.key]">
                </mat-form-field>
            } @else {
                <div class="facility-summary-row">
                    <mat-label class="attribute-name">{{ field.label }}</mat-label>
                    <span class="attribute-value">{{ facility[field.key] }}</span>
                </div>
            }
        }
    }

    @if (isEditMode) {
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Підсистема</mat-label>
            <input type="text" matInput [(ngModel)]="editedFacility.subsystemType" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete"
                              [displayWith]="displaySubsystemFn"
                              (optionSelected)="filterIndicators()"
            >
                @for (subsystem of subsystemTypes; track subsystem.value) {
                    <mat-option [value]="subsystem.value">{{ subsystem.label }}</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
    } @else {
        <div class="facility-summary-row">
            <mat-label class="attribute-name">Підсистема</mat-label>
            <span class="attribute-value">{{ facility.subsystemDescription }}</span>
        </div>
    }

    <div class="facility-summary-indicators-block">
        <mat-label class="attribute-name" [ngStyle]="{'margin-top': isEditMode ? '0px' : '8px'}">
            Індикатори
        </mat-label>
        @if (isEditMode) {
            <button class="pull-right" mat-icon-button color="primary" (click)="addIndicator()">
                <mat-icon>add</mat-icon>
            </button>
        }
        <div class="facility-summary-indicator-list"
             [ngStyle]="{'gap': isEditMode ? '0px' : '4px',
                         'padding': isEditMode ? '0px' : '4px'}"
        >
            @if (isEditMode) {
                @for (facilityIndicator of editedFacility.facilityIndicators; track $index) {
                    <div class="facility-summary-indicator__edit-mode">
                        <mat-form-field appearance="outline">
                            <mat-label>Показник</mat-label>
                            <input type="text" matInput [(ngModel)]="facilityIndicator.environmentalIndicator!.id" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayIndicatorFn">
                                @for (indicator of indicators; track indicator.id) {
                                    <mat-option [value]="indicator.id">{{ indicator.name }}</mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Значення</mat-label>
                            <input matInput [(ngModel)]="facilityIndicator.value">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Дата</mat-label>
                            <input matInput [matDatepicker]="picker" [(ngModel)]="facilityIndicator.date">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <button mat-icon-button color="warn" (click)="removeIndicator($index)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                }
            } @else {
                @for (facilityIndicator of facility.facilityIndicators; track $index) {
                    <div class="facility-summary-indicator__view-mode">
                        <mat-label class="indicator-name">{{ facilityIndicator.environmentalIndicator?.name }}: </mat-label>
                        <span class="indicator-value">{{ facilityIndicator.value }}</span>
                    </div>
                }
            }
        </div>
    </div>

    <div class="button-container">
        @if (isEditMode) {
            <button mat-fab extended (click)="saveChanges()">
                <mat-icon>save</mat-icon>
                Зберегти
            </button>
            <button mat-fab extended (click)="toggleEditMode()">
                <mat-icon>cancel</mat-icon>
                Скасувати
            </button>
        } @else {
            <button mat-mini-fab class="edit-button" (click)="toggleEditMode()">
                <mat-icon>edit</mat-icon>
            </button>
        }
    </div>
</div>
