<h2 mat-dialog-title>Видимість показників</h2>
<mat-dialog-content>
    @for (layer of layers; track layer.key) {
        <div class="layer-header" (click)="toggleLayer(layer)">
            <span class="layer-title">{{ layer.label }}</span>
            <mat-icon class="expand-icon">{{ layer.isExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
        </div>
        @if (layer.isExpanded) {
            <div class="indicator-list">
                @for (indicator of layer.indicators; track indicator.id) {
                    <mat-checkbox [(ngModel)]="indicator.isVisible">
                        {{ indicator.name }}
                    </mat-checkbox>
                }
            </div>
        }
    }
</mat-dialog-content>
