.container {
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: var(--mat-sys-primary-container);
}

.sidebar .toolbar-header {
    background: var(--mat-sys-primary-container);
}

.content {
    height: calc(100% - 64px);
    background: var(--mat-sys-background);
}

.layer-buttons {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    gap: 8px;
}

.layer-buttons button {
    height: 42px;
    background: var(--mat-sys-surface);
    border-radius: 25px;
}

.color-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 4px;
    border-radius: 50%;
}

.environmental-map {
    display: block;
    width: 100%;
    height: calc(100% - 56px);
}

.indicator-chart {
    display: block;
    width: 80%;
    margin: auto auto 16px;
    padding: 16px;
}

.add-button {
    margin: 8px;
    float: right;
}
