<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpened" class="sidebar">
        <mat-toolbar class="toolbar-header">Підсистеми</mat-toolbar>
        <div class="layer-buttons">
            @for (layer of layers; track layer.key) {
                <button mat-fab extended
                        [ngStyle]="{'border-left': '4px solid ' + markerColors.get(layer.key)}"
                        (click)="toggleLayer(layer)"
                >
                    @if (layer.isSelected) {
                        <mat-icon>check</mat-icon>
                    }
                    <span class="color-dot" [ngStyle]="{'background-color': markerColors.get(layer.key)}"></span>
                    {{ layer.label }}
                </button>
            }
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Карта екологічного моніторингу</span>
        </mat-toolbar>
        <div class="content">
            <app-environmental-map class="environmental-map"
                                   [environmentalFacilities]="environmentalFacilities"
            ></app-environmental-map>
            <button mat-mini-fab class="add-button" [matMenuTriggerFor]="menu">
                <mat-icon>settings</mat-icon>
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>add_location_alt</mat-icon>
        <span>Додати об'єкт</span>
    </button>
    <button mat-menu-item (click)="openIndicatorDialog()">
        <mat-icon>new_label</mat-icon>
        <span>Додати індикатор</span>
    </button>
</mat-menu>
