<h2 mat-dialog-title>{{ form.get('id')?.value ? 'Редагування' : 'Додавання' }} індикатора</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex-display-column px-16">
        <mat-form-field appearance="outline">
            <mat-label>Назва</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Підсистема</mat-label>
            <input type="text" matInput formControlName="subsystemType" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySubsystemFn">
                @for (subsystem of subsystemTypes; track subsystem.value) {
                    <mat-option [value]="subsystem.value">{{ subsystem.label }}</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onCancel()">Відмінити</button>
        <button mat-button color="primary" type="submit" [disabled]="form.invalid">Зберегти</button>
    </div>
</form>
